{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
<style>
  figure {
    margin: 0rem !important;
  }
</style>
{% endblock %}



{% block content %}

{% include 'core/includes/headerHome.html' %}
<section>
  <div class="container d-block mb-5">
    <style>
      #form-contact input,
      #form-contact textarea {
        background: var(--fourth-color);
        color: white;
        border: none;
        transition: all 0.5s ease 0s;
      }
      #form-contact input:focus,
      #form-contact textarea:focus {
        background: var(--third-color);
        color: black;
        border: none;
      }
    </style>
    <div>
        <h1 class="text-center text-white">404</h1>
        <h2 class="text-center text-white">Página no encontrada</h2>
    </div>
  </div>
</section>

{% endblock %}