{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
<style>
  figure {
    margin: 0rem !important;
  }
</style>
{% endblock %}



{% block content %}

{% include 'core/includes/headerHome.html' %}
<section>
  <div class="container d-block mb-5">
    <style>
      #form-contact input,
      #form-contact textarea {
        background: var(--fourth-color);
        color: white;
        border: none;
        transition: all 0.5s ease 0s;
      }
      #form-contact input:focus,
      #form-contact textarea:focus {
        background: var(--third-color);
        color: black;
        border: none;
      }
    </style>
    <form class="row w-100 mx-auto" style="max-width: 800px" id="form-contact" action="{% url 'core:mensaje' %}">
      {% csrf_token %}
      <div class="col-md-6 mb-3">
        <label class="text-white" for="">Nombre</label>
        <input class="form-control" name="name" id="name" type="text" placeholder=""/>
      </div>
      <div class="col-md-6 mb-3">
        <label class="text-white" for="">Email</label>
        <input class="form-control" name="email" id="email" type="text" />
      </div>
      <div class="col-md-6 mb-3">
        <label class="text-white" for="">Teléfono</label>
        <input class="form-control" name="phone" id="phone" type="text" />
      </div>
      <div class="col-md-6 mb-3">
        <label class="text-white" for="">Asunto</label>
        <input class="form-control" name="subject" id="subject" type="text" />
      </div>
      <div class="col-md-12 mb-3">
        <label class="text-white" for="">Mensaje</label>
        <textarea name="message" id="message" cols="20" rows="5"class="form-control"></textarea>
      </div>
      <div class="col-md-6 mb-3 mt-2">
          <script src="https://www.google.com/recaptcha/api.js"></script>
          <div class="g-recaptcha ml-3" data-sitekey="6LcoRb4aAAAAAKvSUnl9LYo9qkfVsB8ibMFScyQ3"></div>
      </div>
      <div class="col-md-6 mt-4">
        <button class="btn btn-warning btn-lg" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}